@import 'colors';
@import 'media-queries';

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  padding: 1.4rem 0;
  flex-direction: column;
  background-color: $darkRed;
  cursor: not-allowed;
  @extend %center;

  & h1 {
    color: $white;
    font-weight: 600;
    font-size: 1.8rem;
    @include lgMobile {
      font-size: 1.2rem;
    }
  }
  & h2 {
    color: $white;
    font-weight: 400;
    font-size: 1.4rem;
    @include lgMobile {
      font-size: 0.8rem;
    }
  }
}
